.design__card {
  width: 223px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 30px;
}

@media screen and (max-width: 970px) {
  .design__card {
    max-width: 325px;
    flex:1 1 auto;
  }
}

@media screen and (max-width: 685px) {
  .design__card {
    max-width: 290px;
  }
}
