.block__title {
  font-size: 30px;
  line-height: 40px;
  padding: 40px 0 51px;
  margin: 0;
}

@media screen and (max-width: 970px) {
  .block__title {
    margin: 0 auto;
  }
}

@media screen and (max-width: 685px) {
  .block__title {
    font-size: 22px;
    line-height: 31px;
  }
}
